<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div  class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <!-- <a [routerLink]="['/product']" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
      <div class="item-meta">
        <h2>Essential Stationery</h2>
        <p>Branding</p>
      </div>
    </a> -->
      <a *ngFor="let item of productos" [routerLink]="['/product', item.cod]"
      class="rk-item ae-masonry__item">
        <img src="assets/img/{{item.url}}.jpg" alt="">
      <div class="item-meta">
        <h2>{{item.titulo}}</h2>
        <p>{{item.categoria}}</p>
      </div></a>



  </div>
</section>
